
<main>
  <h1> anime Quiz 📚</h1>

  <table class="quiz"><div *ngIf="question">
    <h2>{{ question.title }}</h2>
    <p>{{ question.content }}</p>
  </div>
  
  <div *ngIf="!isQuestionLoaded() && answerState == AnswerState.NOTANSWERED; else elseBlock">
    <p>Loading question...</p>
  </div></table>

  <ng-template #elseBlock>
    <p>{{question.wording}}</p>
    <div *ngFor="let answer of question.answers">
      <button (click)="answerQuestion(answer)">{{answer}}</button>
    </div>
  </ng-template>

  <div *ngIf="answer">réponse : {{ answer }}</div>

  
  <!-- <h1>Réponse : <input> </h1> -->


  <div class="generators">
    <p> score : 0</p>
    <div class="generators-row">
      <button [routerLink]="['']"> ↺HUB </button>
      <button> √alider </button>
    </div>
  </div>
</main>