<main>
    <h1> anime Quiz 📚</h1>
  
    <table class="quiz">Dans quel événement tragique Rintaro Okabe se retrouve-t-il plongé au début du manga, le poussant à s'engager dans des recherches sur le voyage dans le temps ?</table>
  
    <ul>
	    <input class="answer" type="radio" name="q1" value="0">
	    <label>A) Le décès de son ami d'enfance, Itaru Hashida.</label>
	    <br>
	    <input class="answer" type="radio" name="q1" value="0">
	    <label>B) La disparition mystérieuse de sa collègue de laboratoire, Mayuri Shiina.</label>
	    <br>
	    <input class="answer" type="radio" name="q1" value="0">
	    <label>C) La destruction de son laboratoire et de son invention, le PhoneWave, dans un incendie.</label>
    </ul>
    
    <button class="restart">↺</button>
  
    <div class="generators">
      <div class="generators-row">
        <button>Next</button>
      </div>
    </div>
  </main>