
<main>
  <h1> Anime Quiz 📚</h1>

  <table class="quiz">
    <div *ngIf="!isQuestionLoaded() && answerState == AnswerState.NOTANSWERED; else elseBlock">
      <p>Loading question...</p>
    </div>
  </table>

  <ng-template #elseBlock>
    <p class="question-title">{{question.wording}}</p>
    <div *ngFor="let answer of question.answers">
      <button (click)="answerQuestion(answer)">{{answer}}</button>
    </div>
  </ng-template>

  <div *ngIf="answer">réponse : {{ answer }}</div>


  <!-- <h1>Réponse : <input> </h1> -->


  <div class="generators">
    <p> score : 0</p>
    <div class="generators-row">
      <button class="validators" [routerLink]="['']"> ↺ HUB </button>
    </div>
  </div>
</main>
