body {
  Display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  Display: flex;
  flex-direction: column;
}

.top {
  Display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin: 10px;
  border-radius: 20px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  border: 2px solid #cccccc;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
}

label {
  margin-right: 10px;
}

input {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
}

button {
  margin-right: 5px;
  padding: 10px;
  min-width: 100px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
}

button:hover {
  background-color: #0056b3;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  margin: 0px 10px 10px 10px;
  padding: 10px;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: linear-gradient(rgba(255, 0, 0, 0) 66%, #efefef 34%);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
  transition: all 0.2s;
}

.element-item:hover {
  box-shadow: 3px 4px 16px 6px rgba(0, 0, 0, 0.17);
  transform: translateY(-5px);
  border-color: #007bff;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .logo {
  align-items: center;
  text-align: center;
  font-size: 1.6em;
  letter-spacing: 1px;
  font-weight: bold;
  color: #444;
  margin-top: 10px;
}

.element-item .logo img {
  height: 30px;
}

.element-item .name {
  position: relative;
  top: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
}

.element-item .subtitle {
  position: relative;
  top: 45px;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  color: #666;
}

.element-item .desc {
  position: absolute;
  top: 240px;
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 0 20px 0 0;
}

.my-Form {
  display: inline;
  margin: 10px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  vertical-align: baseline;
}

.rooms {
  display: flex;
  flex-direction: row;
}
