<!DOCTYPE html>
<html lang="fr">

<form class="my-Form">
  <input type="text" name="Name" placeholder="Nom de la room" class="my-input" [(ngModel)]="roomName">
  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="50" fill="none" viewBox="0 0 2 48">
    <path fill="#C9C5C5" d="M0 0h2v48H0z" />
  </svg>
  <img src="map-pin-3.svg" alt="">
  <!-- <input type="search" name="Sujet" placeholder="Sujet du Quiz" class="my-input"> -->
  <button (click)="onCreateRoom()">Créer
  </button>
</form>

<h1 class="h1">
  <h1>Bienvenue à l'Application de Quiz</h1>
</h1>
<form class="h4">
  <label for="username">Nom :</label>
  <input type="text" id="username" name="username" required>
</form>

<div *ngFor="let room of rooms">
  <a [routerLink]="['/', room.roomName]">
    <div class="element-item web colours cssjava">
      <p class="logo"><img src="https://colorme.io/favicon.ico" alt=""></p>
      <h3 class="name">{{room.roomName}}</h3>
      <p class="desc">{{getUserNumberInRoom(room)}}</p>
    </div>
  </a>
</div>
